<div class="pure-u-1">

	<div class="pure-u-1 center">
		<h2>Choose a new password</h2>
	</div>

	<div *ngIf="!token" class="error">
		{{ errorMsg }}
	</div>

	<div *ngIf="token">

	<form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label>Password </label>
				<input type="password" formControlName="password">
			</div>

			<div class="pure-control-group">
				<label>Verify Password </label>
				<input type="password" formControlName="verifypassword">
			</div>

			<div class="pure-control-group">
				<div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
				<div *ngIf="successMsg">{{ successMsg }}</div>
			</div>

			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary">Submit</button>
			</div>
		</fieldset>
	</form>

	</div>

</div>