<div class="pure-u-1" style="text-align: center">

	<!-- Buffer -->
	<div class="pure-u-1"></div>

	<!-- If logged in user -->
	<div *ngIf="userID" class="pure-u-1">
		{{ userName }}, welcome to the Album Game website! | <a class="loginout" (click)="logout()">Logout</a>
	</div>

	<!-- If not logged in-->
	<div *ngIf="!userID" class="pure-u-1">
		Welcome to the Album Game website! | <a class="loginout" [routerLink]="['/login']">Login</a>
	</div>

	<!-- Navigation -->
	<div class="pure-u-1">
		<div class="pure-u-1">
			<p></p>
		</div>
		<div class="pure-u-1">
		<div class="pure-u-1-4 black">
			<div class="pure-u-1"></div>
			<div class="pure-u-1"><a routerLink='view-albums'>Rounds</a></div>
			<div class="pure-u-1"></div>
		</div>
		<div class="pure-u-1-4 black"> 
			<div class="pure-u-1"></div>
			<div class="pure-u-1"><a routerLink='view-artists'>Artists</a></div>
			<div class="pure-u-1"></div>
		</div>
		<div class="pure-u-1-4 black">
			<div class="pure-u-1"></div>
			<div class="pure-u-1"><a routerLink=''>Analysis</a></div>
			<div class="pure-u-1"></div>
		</div>
		<div class="pure-u-1-4 black">
			<div class="pure-u-1"></div> 
			<div class="pure-u-1"><a routerLink='view-users'>Users</a></div>
			<div class="pure-u-1"></div>
		</div>
	</div>

	<!-- Buffer -->
	<div class="pure-u-1"></div>

</div>