<div class="pure-u-1">
	<div class="pure-u-1 center">
		<h2>{{ user?.name }}</h2>
	</div>

	<div class="pure-u-1-2">
		<div class="pure-u-1 center">
			<h3>ROUNDS</h3>
		</div>
		<div class="pure-u-1">
			<ul>
				<li *ngFor="let round of rounds">
					<a [routerLink]="['/view-round', round._id]">{{ round?.name }} ({{ round?.number }})</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="pure-u-1-2">
		<div class="pure-u-1 center">
			<h3>ALBUMS</h3>
		</div>
		<div class="pure-u-1">
			<ul>
				<li *ngFor="let album of albums">
					<a [routerLink]="['/view-album', album._id]">{{ album?.name }}</a>
				</li>
			</ul>
		</div>
	</div>

	<div *ngIf="ratings" class="pure-u-1">
		<div class="pure-u-1 center">
			<h3>RANKINGS</h3>
		</div>
		<table class="pure-table">
			<thead>
				<th>Album</th>
				<th>Rating</th>
				<th>Votes</th>
			</thead>
			<tr *ngFor="let rating of ratings">
				<td><a [routerLink]="['/view-album', rating?.album]">{{ rating?.albumName }}</a></td>
				<td>{{ rating.rating | number:'1.0-0' }}</td> 
				<td>{{ rating.count }}</td>
			</tr>
		</table>
	</div>
	
</div>