<div class="pure-u-1">

	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label>Name </label>
				<input type="text" formControlName="name">
			</div>

			<div class="pure-control-group">
				<label>Password </label>
				<input type="password" formControlName="password">
			</div>

			<div *ngIf="errorMsg" class="pure-control-group">{{ errorMsg }}</div>

			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary">Log In</button>
			</div>
		</fieldset>
	</form>

</div>