<div class="pure-u-1 center">

	<div class="pure-u-1">
		<h2>Faves in Common</h2>
	</div>
	<div *ngFor="let pair of simple_pairs" class="pure-u-1-3">
		<app-analysis-faves [user_one]="pair[0]" [user_two]="pair[1]"></app-analysis-faves>
	</div>

	<div class="pure-u-1">
		<h2>Unfaves in Common</h2>
	</div>
	<div *ngFor="let pair of simple_pairs" class="pure-u-1-3">
		<app-analysis-unfaves [user_one]="pair[0]" [user_two]="pair[1]"></app-analysis-unfaves>
	</div>

	<div class="pure-u-1">
		<h2>Mismatches</h2>
	</div>
	<div *ngFor="let pair of full_pairs" class="pure-u-1-3">
		<app-analysis-mismatches [user_one]="pair[0]" [user_two]="pair[1]"></app-analysis-mismatches>
	</div>

</div>