<div class="pure-u-1 center">
	<h2>Faves in Common</h2>
</div>
<div *ngFor="let pair of pairs" class="pure-u-1-3">
	<app-analysis-faves [user_one]="pair[0]" [user_two]="pair[1]"></app-analysis-faves>
</div>

<div class="pure-u-1 center">
	<h2>Unfaves in Common</h2>
</div>
<div *ngFor="let pair of pairs" class="pure-u-1-3">
	<app-analysis-faves [user_one]="pair[0]" [user_two]="pair[1]"></app-analysis-unfaves>
</div>

<div class="pure-u-1 center">
	<h2>Mismatches</h2>
</div>
<div *ngFor="let pair of pairs" class="pure-u-1-3">
	<app-analysis-faves [user_one]="pair[0]" [user_two]="pair[1]"></app-analysis-mismatches>
</div>


<!-- 
<div class="pure-u-1 center">

	<form [formGroup]="analysisForm" (ngSubmit)="submit()" class="pure-form pure-u-1">

		<select formControlName="option">
			<option *ngFor="let option of options">{{ option }}</option>
		</select>

		<div class="pure-u-1"></div>

		<div class="pure-u-1">

			<div class="pure-u-11-24 right">
				<select formControlName="user_one">
					<option *ngFor="let user of users" value="{{user._id}}">{{ user.name }}</option>
				</select>
			</div>

			<div class="pure-u-1-12"></div>

			<div class="pure-u-11-24 left">
				<select formControlName="user_two">
					<option *ngFor="let user of users" value="{{user._id}}">{{ user.name }}</option>
				</select>
			</div>

		</div>

		<div class="pure-u-1"></div>

		<button type="submit" class="pure-button pure-button-primary">Submit</button>

		<div class="pure-u-1"><h2>{{ count }}</h2></div>

		<div *ngIf="albums" class="pure-u-1">
			<div *ngFor="let album of albums">
				<div>{{ album.name }}</div>
			</div>

		</div>

	</form>
</div>
-->