<div class="pure-u-1">

	<form [formGroup]="editAlbumForm" (ngSubmit)="submit()" class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label>Name </label>
				<input type="text" formControlName="name">
			</div>

			<div class="pure-control-group">
				<label>Sort Name </label>
				<input type="text" formControlName="sortname">
			</div>

			<div class="pure-control-group">
				<label>Artist </label>
				<select formControlName="artist">
					<option *ngFor="let artist of artists" [value]="artist._id">{{ artist.name }}</option>
				</select>
			</div>

			<div class="pure-control-group">
				<label>Date </label>
				<input type="date" formControlName="date">
			</div>

			<div class="pure-control-group">
				<label>Nominator </label>
				<select formControlName="nominator">
					<option *ngFor="let user of users" [value]="user._id">{{ user.name }}</option>
				</select>
			</div>

			<div class="pure-control-group">
				<label>Round </label>
				<select formControlName="round">
					<option *ngFor="let round of rounds" [value]="round._id">{{ round.number }}</option>
				</select>
			</div>

			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary">Submit</button>
				<button type="button" (click)="reset()" class="pure-button">Reset</button>
				<button type="button" (click)="delete()" class="pure-button pure-button-error">Delete</button>
			</div>
		</fieldset>
	</form>

</div>