<form [formGroup]="editAlbumForm" (ngSubmit)="onSubmit()">
	<label>
		Name:
		<input type="text" formControlName="name">
	</label>

	<label>
		Artist:
		<select formControlName="artist">
			<option *ngFor="let artist of artists" [value]="artist._id">{{ artist.name }}</option>
		</select>
	</label>

	<label>
		Date:
		<input type="date" formControlName="date">
	</label>

	<label>
		Nominator:
		<select formControlName="nominator">
			<option *ngFor="let user of users" [value]="user._id">{{ user.name }}</option>
		</select>
	</label>

	<label>
		Round:
		<select formControlName="round">
			<option *ngFor="let round of rounds" [value]="round._id">{{ round.number }}</option>
		</select>
	</label>

	<button type="submit">Submit</button>
	<button type="button" (click)="reset()">Reset</button>
	<button type="button" (click)="delete()">Delete</button>

</form>