<div class="pure-u-1">

	<form [formGroup]="editRoundForm" (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label>Round Name </label> 
				<input type="text" formControlName="name">
			</div>

			<div class="pure-control-group">
				<label>Nominator </label>
				<select formControlName="nominator">
					<option *ngFor="let user of users" [value]="user?._id">{{ user?.name }}</option>
				</select>
			</div>
			
			<div class="pure-control-group">
				<label>Description </label>
				<textarea formControlName="description"></textarea>
			</div>

			<div class="pure-control-group">
				<label>Number </label>
				<input type="text" formControlName="number">
			</div>

			<div class="pure-control-group">
				<label>Image </label>
				<input type="file" formControlName="image">
			</div>

			<div class="pure-controls">
				<button type="submit">Submit</button>
				<button type="button" (click)="reset()">Reset</button>
			</div>
		</fieldset>
	</form>

</div>