<p>Album: {{ vote_set?.album }}</p>
<p>User: {{ vote_set?.user }}</p>

<form [formGroup]="editVoteSetForm" (ngSubmit)="onSubmit()">
	<label>
		Vote One:
		<select formControlName="vote_one">
			<option *ngFor="let track of tracks" [value]="track._id">{{ track.name }}</option>
		</select>
	</label>

	<label>
		Vote Two:
		<select formControlName="vote_two">
			<option *ngFor="let track of tracks" [value]="track._id">{{ track.name }}</option>
		</select>
	</label>

	<label>
		Vote Three:
		<select formControlName="vote_three">
			<option *ngFor="let track of tracks" [value]="track._id">{{ track.name }}</option>
		</select>
	</label>

	<label>
		Unfave:
		<select formControlName="unfave">
			<option *ngFor="let track of tracks" [value]="track._id">{{ track.name }}</option>
		</select>
	</label>

	<button type="submit">Submit</button>
	<button type="button" (click)="reset()">Reset</button>

</form>