<p>VIEW ALBUM</p>
<p>Name: {{ album?.name }}</p>
<p><a (click)="viewArtist(album?.artist)">Artist: {{ album?.artist }}</a></p>
<p><a (click)="viewUser(album?.nominator)">Nominator: {{ album?.nominator }}</a></p>
<p>Round: {{ album?.round }}</p>
<p>Date: {{ album?.date | date:'shortDate' }}</p>
<table>
	<tr>
		<th>#</th>
		<th>Name</th>
		<th *ngFor="let user of users">{{ user.name }}</th>
	</tr>
	<!-- Iterate tracks -->
	<tr *ngFor="let track of tracks">
		<td>{{ track?.number }}</td>
		<td>{{ track?.name }}</td>
		<!-- Iterate users -->
		<td *ngFor="let user of users">
			<!-- For each track, iterate votes -->
			<div *ngFor="let item of track.votes | keyvalue">
				<div *ngIf="item.key == user._id"> {{ item.value }} </div>
			</div>
		</td>
	</tr>
</table>