<div class="pure-u-1">

	<div class="pure-u-1 center">
		<h2>Request a password reset</h2>
	</div>

	<form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="pure-form pure-form-aligned">
		<fieldset>
			<div class="pure-control-group">
				<label>Name </label>
				<input type="text" formControlName="name">
			</div>

			<div class="pure-control-group">
				<div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
				<div *ngIf="successMsg">{{ successMsg }}</div>
			</div>

			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary">Submit</button>
			</div>
		</fieldset>
	</form>

</div>