/* You can add global styles to this file, and also import other style files */
.centerTable {
	margin: 0px auto;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.sidebar {
	background-color: #b4b4b4;
	min-height: 100vh;
}

html {
	min-height: 100vh;
}

.error {
	color: red;
}

.pointer {
	cursor: pointer;
}

.pure-button-error {
	background-color: red;
	color: white;
}

.button-error {
	background: rgb(202, 60, 60);
	color: white;
	font-weight: bold;
}

.button-warning {
	background: rgb(223, 117, 20);
	color: white;
	font-weight: bold;
}