<div class="pure-u-1" style="text-align: center">

	<div class="pure-u-1">Round {{ round?.number }} - {{ round?.name }}</div>
	<div class="pure-u-1"></div>
	
	<div *ngIf="currentRound && userID && (albums?.length < 4)">
		<a [routerLink]="['/add-album']">
			<button class="pure-button pure-button-primary">Add Album</button>
		</a>
		<div class="pure-u-1"></div>
	</div>

	<div class="pure-u-1"></div>
	<div class="pure-u-1 center"><img class="pure-img" [src]="(img)"></div>

	<div class="pure-u-1">{{ round?.description }}</div>
	<div class="pure-u-1"></div>
	
	<div class="pure-u-1">Nominated by {{ round?.nominator }}</div>
	<div class="pure-u-1"></div>

	<div class="pure-u-1"></div>
	<div *ngIf="canEdit">
		<a [routerLink]="['/edit-round', round?._id]">
			<button class="pure-button">Edit Round</button>
		</a>
		<div class="pure-u-1"></div></div>
	<div class="pure-u-1"></div>

	<div class="pure-u-1">
		<table class="pure-table">
			<tr *ngFor="let album of albums">
				<td><a [routerLink]="['/view-album', album._id]">{{ album.name}}</a></td>
				<td>{{ album.artist}}</td>
			</tr>
		</table>
	</div>

	<div class="pure-u-1"></div>

</div>